*{
	margin: 0;
	padding: 0;
}
.top{
	width: 100%;
	height: 72px;
	z-index: 9999;
	position: fixed;
	left: 0;
	top:0;
	background-color: white;
	border-bottom: 1px solid #E0E0E0;
}
.top-inner{
	width: 1348px;
	height: 72px;
	margin: auto;
}
.left{
	width: 180px;
	height: 72px;
	margin-left: 90px;
	float: left;
}
.left > img{
	margin-top: 5px;
}
.right{
	width: 710px;
	height:72px;
	float: right;
}
ul{
	list-style-type: none;
	overflow: hidden;
}
a{
	display: inline-block;
	width: 100px;
	height: 72px;
	line-height: 72px;
	/*text-align: center;*/
	color: black;
	text-decoration: none;
}
.sy{
    color: #16b0dc;
}
a:hover{
	color:#16b0dc; 
}

/*中间部分*/
.main{
	width: 100%;
	height: 2160px;
	background-color: #f1f1f1;
	margin-top: 72px;

}
.text{
	width: 100%;
	height:150px;
    color: #f67a82;
    line-height: 150px;
    font-size: 34px;
    text-align: center;  
}
.l{
	width: 870px;
	height: 2000px;
	margin-left: 90px;
	background-color: white;
	float: left;
}

.list1{
	width: 824px;
	height: 240px;
	margin-left: 28px;
	position: relative;
	border-bottom: 1px solid #f0f2f5;

}

.lf{
	width: 160px;
	height: 160px;
	margin: 0;
	padding: 0;
	position: absolute;
	margin-top: 36px;

}
.rt{
	width:630px;
	height: 180px;
	margin-left: 180px;
	position: absolute;
	top: 36px;
}
.rt i{
	font-size: 20px;
}
.rt a{
	display: block;
	width: 80px;
	height: 19px;
	line-height: 19px;
	font-size: 20px;
}
.rt a:hover{
	color: skyblue;
	text-decoration: underline;
}
.rt p{
	width: 630px;
	height: 100px;
	margin-top: 15px;
	color: #8b839d;
}
.main-b{
	width: 266px;
	height: 40px;
	margin-top: 15px;
	margin-left: 310px;
	border: 1px solid #f0f2f5;
}
.main-b > a{
	width: 73px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	float: left;
	color: #8b928f;
}
.main-b > a:hover{
	background-color: #f0f2f5;

}

.main .r{
	width: 266px;
	height: 357px;
	background-color: white;
	margin-left: 1000px;
    border: 1px solid white;
}

.input-search{
	width: 212px;
	height: 36px;
	line-height: 36px;
	border: 1px solid #f0f2f5;
	border-radius: 20px;
	margin-top: 20px;
	margin-left: 25px;

}
.input-search i{
	font-size: 20px;
}
.Search{
	width: 160px;
	height: 20px;
	border-radius: 20px;
	border: none;
	outline:none;
	color: #76838f;
    font-size: 14px;
    padding-left:15px ;
}
.news{
	width: 222px;
	height: 210px;
	margin-top: 20px;
	margin-left:20px;
	border-top:1px solid #f0f2f5;  
	border-bottom:1px solid #f0f2f5;  
}
h3{
	color: #37474f;
	font-size: 22px;
	font-weight: normal;
	margin-top: 20px;
}

.nav{
	width: 222px;
	height: 130px;
	margin-top: 10px;
	border: 1px solid #f0f2f5;
}
.nav li{
	width: 100%;
	height: 44px;
	border: 1px solid #f0f2f5;
	line-height: 44px;

}
.nav li a{
	width: 130px;
	height: 22px;
	line-height: 20px;
	margin-left: 20px;
	color: #2a333c;

}
.nav li a:hover{
	color: #16b0d4;
	text-decoration: underline;
}

/*底部*/
.footer{
	width: 100%;
	height: 182px;
    text-align: center;
}
.linksnav{
	width: 100%;
	height: 56px;
	line-height: 56px;
	color: green;
	text-align: center;
}
.linksnav i{
	font-size: 30px;
	margin-left: 10px;
}
.footer p{
	width: 1034px;
	height: 25px;
	margin: auto;
	margin-top: 10px;
	/*text-align: center;*/
	font-size: 14px;
}
.footer a{
	line-height: 19px;
	font-size: 14px;
	float: left;
	margin-left: 320px;
    color: skyblue;
}

.footer .right{
	width: 200px;
	height: 19px;
	float: left;
	margin-left: 0;
}