*{
	margin: 0;
	padding: 0;
}
.top{
	width: 100%;
	height: 72px;
	z-index: 9999;
	position: fixed;
	left: 0;
	top:0;
	background-color: rgba(0,0,0,0.15);
}
.top-inner{
	width: 1348px;
	height: 72px;
	margin: auto;
}
.left{
	width: 180px;
	height: 72px;
	margin-left: 90px;
	float: left;
}
.left > img{
	margin-top: 5px;
}
.right{
	width: 710px;
	height:72px;
	float: right;
}
ul{
	list-style-type: none;
	overflow: hidden;
}
a{
	display: inline-block;
	width: 100px;
	height: 72px;
	line-height: 72px;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
}
.sy{
    color: #189fc1;
}
a:hover{
	color:#189fc1; 
}
.bag{
	text-align: center;

}


.bt{
	width: 100%;
	height: 730px;
	position: relative;
}
.btb{
	width: 1348px;
	height: 100%;
	text-align: center;
	margin-top: 80px;
}
.bt > .tx1{
	width:100%;
	height: 30px;
	font-size: 16px;
	position: absolute;
	text-align: center;
}
.bt > .tx3{
	width: 100%;
	height: 30px;
	position: absolute;
	text-align: center;
}
span{
	display: block;
	text-align: center;
	margin-top: 20px;
}
.address{
	width: 100%;
	height:340px;
	position: absolute;
	margin-top: 50px;	 
}


/*底部*/
.footer{
	width: 100%;
	height: 182px;
    text-align: center;
    background-color: #f5f5f5;
}
.linksnav{
	width: 100%;
	height: 56px;
	line-height: 56px;
	color: green;
	
}
.linksnav i{
	font-size: 30px;
	margin-left: 10px;
}
.footer p{
	width: 1034px;
	height: 25px;
	margin: auto;
	margin-top: 10px;
	text-align: center;
	font-size: 14px;
}
.footer a{
	line-height: 19px;
	font-size: 14px;
	float: left;
	margin-left: 320px;
    color: skyblue;
}
.footer a:hover{
	color:#189fc1;
	text-decoration: underline;

}
.footer .right{
	width: 200px;
	height: 19px;
	float: left;
	margin-left: 0;
}
